<div id="<%= dom_id meeting %>">
  <p>
    <strong>Date:</strong>
    <%= meeting.date %>
  </p>

  <p>
    <strong>Partner:</strong>
    <%= meeting.partner_id %>
  </p>

  <p>
    <strong>Pioneer:</strong>
    <%= meeting.pioneer_id %>
  </p>

  <p>
    <strong>Part time:</strong>
    <%= meeting.part_time_id %>
  </p>

</div>
